/*
 *
 */

*,
*:before,
*:after {
	box-sizing: border-box;
}

html, body {
	position: relative;
	min-height: 100%;
	background: $base-bg-color;
	z-index: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: $heading-margin;
}

p {
	margin: $paragraph-margin;
}