doctype html5
html
	head
		// Title
		title MARS!
		// Meta
		meta(charset="utf-8")
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		// End of Meta
		// Styles
		link(href='https://fonts.googleapis.com/css?family=Montserrat|Lato:400,700', rel='Stylesheet')
		link(href='assets/css/mars.css', rel='Stylesheet')
	body
		#site