include mixins

doctype html
html
	head
		// Title
		title MARS!
		// Meta
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
		meta(http-equiv="x-ua-compatible", content="ie=edge")
		// End of Meta
		// Styles
		link(href="https://fonts.googleapis.com/css?family=Montserrat|Lato:400,700", rel="Stylesheet")
		link(href="assets/css/index.min.css", rel="Stylesheet")
	body
		div#site.column.flex.fluid
			block body
		div#scripts