/*
 *
 */

#site {
	height: 100%;
}

#alien-logo {
	display: inline-block;
	height: 100%;
	width: 16px;
	background-color: transparent;
	background-image: url(https://camo.githubusercontent.com/500d7731d2d93809266c741f6b25431fa884547d/68747470733a2f2f75706c6f61642e77696b696d656469612e6f72672f77696b6970656469612f636f6d6d6f6e732f632f63662f416c69656e30312e737667);
	background-position: center;
	background-size: 100%;
	z-index: 1;
}